{%extends "../base.html"%}
{% block content %}
<style>
      /* === Google Font ===*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
/* === Variables Define ===*/
:root{
--primary-color:#3525D3;
--white-color:#fff;
--black-color:#3C4A57; 
--light-gray:#E4E8EE;
}

/* === Body CSS ===*/
body{  
position: relative;
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
}
/* === Main Content CSS ===*/
.wrapper{
padding:50px 25px 0;
max-width:668px;
width:100%;
margin:auto;
}.wrapper::before{
content:'';
position: absolute;
top:0;
left:0;
right:0;
bottom:0;
background-image: url("images/bg-1.svg");
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
min-height: 100vh;
z-index: -1;
}
.wrapper .headline{
text-align: center;
padding-bottom:48px;
}
.wrapper .headline h1{
font-size: 42px;
font-weight: 700;
line-height: 52px;
}

.wrapper .form-group{
margin-bottom: 15px;
}
.wrapper .form-group input{
display:block;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.1px;
padding:11px 15px;
height:48px;
border-radius: 5px;
color:var(--black-color);
border:1px solid #e4e8ee;
box-shadow: none;
width:100%;
}
.wrapper .form-group input:focus{
outline:none;
}
.wrapper .form-group input::placeholder{
color:var(--black-color);
font-weight: 400;
font-size: 14px;
}
.wrapper .btn{
width:100%;
margin:15px 0 30px;
font-size: 14px;
line-height: 22px;
font-weight: 700;
padding:12px 29px;
height:48px;
text-transform: uppercase;
color:var(--white-color);
background-color: var(--primary-color);
border:none;
border-radius: 2px;
cursor: pointer;
text-align: center;
}
.wrapper .form11{
max-width:350px;
width:100%;
margin:auto;
}
.wrapper .btn:focus{
outline:none;
}
.wrapper .account-exist{
color:var(--black-color);
border-top:1px solid var(--light-gray);
padding-top:20px;
text-align: center;
}
.wrapper .account-exist a{
color:var(--primary-color);
}
@media (max-width:1030px){
.wrapper::before{
left:-25%;
min-height: 60vh;
height:500px;
}
}
@media (max-width:767px){
.wrapper{
max-width: 550px;
}
.wrapper .headline h1{
font-size: 22px;
line-height:25px;
}
}
</style>
<div class="wrapper">
    <div class="headline">
        <h2>Information</h2>
    </div>
    
    <form class="form" method="post" action="#">
        <h3>Missing Person Details</h3>
    <hr>
    <div class='form11'>
       <div class="signup">
            <div class="form-group">
                <input type="text" name='fname' placeholder="First name" required="">
            </div>
            <div class="form-group">
                <input type="text" name='lname' placeholder="Last name" required="">
            </div>
            <div class="form-group1">
                <label>Gender : </label>
                <input type="radio" name="gender" value="male"> Male
                <input type="radio" name="gender" value="female"> Female
                <input type="radio" name="gender" value="other"> Other

            </div>
            <br>
            <div class="form-group">
                <!--<label>Height(in cms)</label>-->
                <input  type="number" placeholder="Height">
            </div> 
            <div class="form-group">
                <!--<label>Weight(in kg)</label>-->
                <input  type="number" placeholder="Weight">
            </div>
            <div class="form-group"> 
                <input type="text" name='state' placeholder="State" required="">
            </div>
            <div class="form-group"> 
                <label >Birthday:</label>
                <input type="date" name="birthday">
            </div>
            <div class="form-group"> 
                <!--<label >AADHAR NUMBER:</label>-->
                <input type="text" name='fname' placeholder="AADHAR NUMBER" required="">
            </div>
            <div class="form-group"> 
                <label >Missing date:</label>
                <input type="date" name="missing">
            </div>
        </div>
    </div>
    <h3>Family Details</h3>
    <hr>
    <div class='form11'>
       <div class="signup">
        <div class="form-group">
            <input type="text" name='father' placeholder="Father name" required="">
        </div>
        <div class="form-group">
            <input type="text" name='mother' placeholder="Mother name" required="">
        </div>
        <div class="form-group">
        <input type="text" name='sibling' placeholder="Sibling name" required="">
        </div>
        <div class="form-group">
            <input type="text" name='guardian' placeholder="Guardian name" required="">
        </div>
        <div class="form-group">
        <label>Please provide Contact Details</label>
        <input type="text" name='contact1' placeholder="Enter contact number" required="">
        </div>
        <div class="form-group">
            <input type="text" name='contact2' placeholder="Enter contact number" required="">
        </div>
    </div>
    </div>
    </form>
    
    
</div>
{% endblock %}